name: Pipeline Testes Automatizados E2E (Ponta a Ponta) Front ServeRest Cypress

# executa o workflow toda vez que for realizado um push ou pull-request na branch principal (main) no repositório
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
  # permite também executar esse workflow manualmente na aba "Actions" do GitHub
  workflow_dispatch:

jobs:
  cypress-chrome:
    # agente de execução/runner
    runs-on: ubuntu-22.04

    permissions:
      contents: write
      pages: write
      id-token: write

    # envionment com "name: github-pages" e "url: https://andressakarla.github.io/testes-automatizados-e2e-front-serve-rest_cypress/index.html" para deploy/publicar no github pages, configurado automaticamente e aplicado apenas na branch principal (main)
    environment: ${{ github.ref == 'refs/heads/main' && 'github-pages' || '' }}  
    
    # template cypress com todas as dependências necessárias para executar os testes
    container:
      image: cypress/browsers:node18.12.0-chrome103-ff107
      # usuário com perfil administrador
      options: --user 1001
      
    steps:
      - name: Passo 1 - Obter cópia do código-fonte do repositório
        uses: actions/checkout@v4

      - name: Passo 2 - Redirecionar os conteúdos de "secrets.USUARIO_ENV", para os fixtures "usuario.json", etc
        run: echo '${{ secrets.USUARIO_ENV }}' > ./cypress/fixtures/usuario.json
        
      - name: Passo 3 - Instalar dependências, Executar testes automatizados E2E no navegador chrome em modo headless (2º plano) em um ambiente de produção e Gerar os resultados dos testes
        uses: cypress-io/github-action@v5.0.8
        # possibilitar deploy/publicar no github pages inclusive quando há algum erro na execução dos testes 
        continue-on-error: true
        with:
          # forçar, mesmo tendo possíveis conflitos, a instalação das dependências do projeto do arquivo "package.json"
          install-command: npm install --force
          # executar testes automatizados E2E em modo headless (2º plano)
          command: npm run test
          browser: chrome
          
      - name: Passo 4 - Armazenar os resultados dos testes em vídeos
        # expressão condicional para que sempre seja executado independentemente dos resultados dos steps anteriores
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: cypress-videos-chrome
          path: ./cypress/videos
          # armazena por 30 dias
          retention-days: 30

      - name: Passo 5 - Armazenar os resultados dos testes em screenshots
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots-chrome
          path: ./cypress/screenshots
          retention-days: 30

      - name: Passo 6 - Armazenar os resultados dos testes em report html
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: cypress-report-html-mochawesome-chrome
          path: ./cypress/reports
          retention-days: 30

      - name: Passo 7 - Configurar pages apenas na branch principal (main)
        if: github.ref == 'refs/heads/main'
        uses: actions/configure-pages@v4

      - name: Passo 8 - Baixar report html armazenado no "Passo 6 - Armazenar os resultados dos testes em report html" apenas na branch principal (main)
        if: github.ref == 'refs/heads/main'
        uses: actions/download-artifact@v4
        with: 
          name: cypress-report-html-mochawesome-chrome
          path: ./cypress/reports

      - name: Passo 9 - Armazenar pages apenas na branch principal (main)
        if: github.ref == 'refs/heads/main'
        uses: actions/upload-pages-artifact@v3
        with:
          path: ./cypress/reports/html
          retention-days: 30

      - name: Passo 10 - Deploy/Publicar no Github Pages na "url" configurada automaticamente em "cypress-chrome > environment" apenas na branch principal (main)
        if: github.ref == 'refs/heads/main'
        id: deployment
        uses: actions/deploy-pages@v4
  
  cypress-firefox:
    # este job "cypress-firefox" é executado após o término do job anterior "cypress-chrome" 
    needs: cypress-chrome
    runs-on: ubuntu-22.04
    
    container:
      image: cypress/browsers:node18.12.0-chrome103-ff107
      options: --user 1001
      
    steps:
      - name: Passo 1 - Obter cópia do código-fonte do repositório
        uses: actions/checkout@v4

      - name: Passo 2 - Redirecionar os conteúdos de "secrets.USUARIO_ENV", para os fixtures "usuario.json", etc
        run: echo '${{ secrets.USUARIO_ENV }}' > ./cypress/fixtures/usuario.json
        
      - name: Passo 3 - Instalar dependências, Executar testes automatizados E2E no navegador firefox em modo headless (2º plano) em um ambiente de produção e Gerar os resultados dos testes
        uses: cypress-io/github-action@v5.0.8
        with:
          install-command: npm install --force
          command: npm run test:ff
          browser: firefox 

      - name: Passo 4 - Armazenar os resultados dos testes em screenshots
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: cypress-screenshots-firefox
          path: ./cypress/screenshots
          retention-days: 30

      - name: Passo 5 - Armazenar os resultados dos testes em report html
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: cypress-report-html-mochawesome-firefox
          path: ./cypress/reports
          retention-days: 30